{% extends 'partials/base.html' %}

{%block content%}

<style>
  {
    box-sizing: border-box;
  }
  
  .column {
    float: right;
    width: 45%;
    padding: 30px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  </style>
<center>
  <div class="selectBox"><a >Choose a course type</a>
    <select id="typeselect">
      <option >All</option>
      <option >O1</option>
      <option >O2</option>
      <option >FE</option>
      <option >PH</option>
  
    </select>
    
  </div>
</center>
<div class="row">
  <div class="column" >
    <canvas id="myChart"></canvas>
  </div>
  <div class="column">
    <canvas id="myChart2"></canvas>

  </div>
</div>
<div class="row">
  <div class="column" >
    <canvas id="myChart3"></canvas>
  </div>
  <div class="column">
    <canvas id="myChart4"></canvas>

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>



    <script>
      function onlyUnique(value, index, array) {
        return array.indexOf(value) === index;
      }

      var personcourses = {{personcourses|safe}}
      {% comment %} console.log(personcourses) {% endcomment %}
      var lineChartData = {
        labels:personcourses.filter((personcourse) => (personcourse['course_group'] == 's' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH' )).map((personcourse)=>personcourse['course']).filter(onlyUnique),

          datasets: []
      },
      
      array = [{Teaching: personcourses.filter((personcourse) => (personcourse['course_group'] == 's' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['course']), Lecturer :  personcourses.filter((personcourse) => (personcourse['course_group'] == 's' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['person']), Pourcent: personcourses.filter((personcourse) => (personcourse['course_group'] == 's' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['amount']),}][0];

        Teaching  = personcourses.filter((personcourse) => (personcourse['course_group'] == 's' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['course']).filter(onlyUnique)



          Lecturer =personcourses.map((personcourse)=>personcourse['person'])

          let unique_lecturer = Lecturer.filter(function(value, index, array) {
            return array.indexOf(value) === index;
          });


          let text = "["
          let text2 = "]"

          var array_new=[]
          var array_new_total =[]
          var p=0
          for (k = 0; k <unique_lecturer.length; k++){
            for(i=0;i<Teaching.length;i++){

              for ( j = 0; j < array.Teaching.length; j++) { 
                if (((unique_lecturer[k] != array.Lecturer[j]) && (Teaching[i] != array.Teaching[j])) || ((unique_lecturer[k] == array.Lecturer[j]) && (Teaching[i] != array.Teaching[j])) || ((unique_lecturer[k] != array.Lecturer[j]) && (Teaching[i] == array.Teaching[j]))) {
                  p=0
                  } 
                if ((unique_lecturer[k] == array.Lecturer[j]) && (Teaching[i] == array.Teaching[j])){
                  console.log('oui')
                  p=array.Pourcent[j] 

                  j=array.length
                }
               }
               array_new.push(p)

              }

              array_new_total.push(text.concat([array_new]).concat(text2))
              array_new=[]
             //}
          }


 
    array_new_total.forEach(function (a, i) {
      if (JSON.parse(a).every(item => item === 0))
          {//console.log(a,i)
            console.log('console')
            //data.splice(i, 1);labels.splice(i, 1);i--;
          }
          else{
          lineChartData.datasets.push({
              label:  unique_lecturer[i],
              fillColor: 'rgba(220,220,220,0.2)',
              strokeColor: 'rgba(220,220,220,1)',
              pointColor: 'rgba(220,220,220,1)',
              pointStrokeColor: '#fff',
              pointHighlightFill: '#fff',
              pointHighlightStroke:
                  'rgba(220,220,220,1)',
              data: JSON.parse(a)
              
           })
          };
          //console.log(lineChartData.datasets[i].data,lineChartData.datasets[i].label)

      }
    
    
   );
   console.log('line',lineChartData.datasets[0].data)

      const ctx = document.getElementById('myChart');

      teaching_load_ses = new Chart(ctx, {
          type: 'bar',
          data: {
              labels: lineChartData.labels ,
              datasets: lineChartData.datasets
          },
          
          options: {
            plugins: {
              title: {
                  display: true,
                  text: 'Sustainable Energy Systems',
                  padding: {
                      top: 10,
                      bottom: 30
                  }
              }
            },
            
              skipNull:true,
              indexAxis :'y',
              
              scales: {
                x:{
                  stacked: true,
                },
                  y: {
                    stacked: true,
                      
                  }
              }
          }
          
      }

      );
      console.log('datasets',teaching_load_ses.data.datasets);
      console.log('datasets_0',teaching_load_ses.data.datasets[0].data);

      function onlyUnique(value, index, array) {
        return array.indexOf(value) === index;
      }

      var personcourses = {{personcourses|safe}}
      {% comment %} console.log(personcourses) {% endcomment %}
      var lineChartData = {
        labels:personcourses.filter((personcourse) => (personcourse['course_group'] == 'i' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH' )).map((personcourse)=>personcourse['course']).filter(onlyUnique),

          datasets: []
      },
      
      array = [{Teaching: personcourses.filter((personcourse) => (personcourse['course_group'] == 'i' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['course']), Lecturer :  personcourses.filter((personcourse) => (personcourse['course_group'] == 'i' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['person']), Pourcent: personcourses.filter((personcourse) => (personcourse['course_group'] == 'i' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['amount']),}][0];

        Teaching  = personcourses.filter((personcourse) => (personcourse['course_group'] == 'i' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['course']).filter(onlyUnique)



          Lecturer =personcourses.map((personcourse)=>personcourse['person'])

          {% comment %} let unique_lecturer = Lecturer.filter(function(value, index, array) {
            return array.indexOf(value) === index;
          }); {% endcomment %}


          {% comment %} let text = "["
          let text2 = "]" {% endcomment %}

          var array_new=[]
          var array_new_total =[]
          var p=0
          for (k = 0; k <unique_lecturer.length; k++){
            for(i=0;i<Teaching.length;i++){

              for ( j = 0; j < array.Teaching.length; j++) { 
                if (((unique_lecturer[k] != array.Lecturer[j]) && (Teaching[i] != array.Teaching[j])) || ((unique_lecturer[k] == array.Lecturer[j]) && (Teaching[i] != array.Teaching[j])) || ((unique_lecturer[k] != array.Lecturer[j]) && (Teaching[i] == array.Teaching[j]))) {
                  p=0
                  } 
                if ((unique_lecturer[k] == array.Lecturer[j]) && (Teaching[i] == array.Teaching[j])){
                  p=array.Pourcent[j] 

                  j=array.length
                }
               }
               array_new.push(p)

              }

              array_new_total.push(text.concat([array_new]).concat(text2))
              array_new=[]
             //}
          }


 
    array_new_total.forEach(function (a, i) {
      if (JSON.parse(a).every(item => item === 0))
          {//console.log(a,i)
            console.log('console')
            //data.splice(i, 1);labels.splice(i, 1);i--;
          }
          else{
          lineChartData.datasets.push({
              label:  unique_lecturer[i],
              fillColor: 'rgba(220,220,220,0.2)',
              strokeColor: 'rgba(220,220,220,1)',
              pointColor: 'rgba(220,220,220,1)',
              pointStrokeColor: '#fff',
              pointHighlightFill: '#fff',
              pointHighlightStroke:
                  'rgba(220,220,220,1)',
              data: JSON.parse(a)
              
           })
          };
          //console.log(lineChartData.datasets[i].data,lineChartData.datasets[i].label)

      }
    
    
   );

      const ctx2 = document.getElementById('myChart2');
      teaching_load_indecol = new Chart(ctx2, {
          type: 'bar',
          data: {
              labels: lineChartData.labels ,
              datasets: lineChartData.datasets
          },
          
          options: {
            plugins: {
              title: {
                  display: true,
                  text: 'IndEcol',
                  padding: {
                      top: 10,
                      bottom: 30
                  }
              }
            },
            
              skipNull:true,
              indexAxis :'y',
              
              scales: {
                x:{
                  stacked: true,
                },
                  y: {
                    stacked: true,
                      
                  }
              }
          }
      }
      
      );

      function onlyUnique(value, index, array) {
        return array.indexOf(value) === index;
      }

      var personcourses = {{personcourses|safe}}
      {% comment %} console.log(personcourses) {% endcomment %}
      var lineChartData = {
        labels:personcourses.filter((personcourse) => (personcourse['course_group'] == 't' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH' )).map((personcourse)=>personcourse['course']).filter(onlyUnique),

          datasets: []
      },
      
      array = [{Teaching: personcourses.filter((personcourse) => (personcourse['course_group'] == 't' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['course']), Lecturer :  personcourses.filter((personcourse) => (personcourse['course_group'] == 't' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['person']), Pourcent: personcourses.filter((personcourse) => (personcourse['course_group'] == 't' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['amount']),}][0];

        Teaching  = personcourses.filter((personcourse) => (personcourse['course_group'] == 't' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['course']).filter(onlyUnique)



          Lecturer =personcourses.map((personcourse)=>personcourse['person'])

          {% comment %} let unique_lecturer = Lecturer.filter(function(value, index, array) {
            return array.indexOf(value) === index;
          }); {% endcomment %}


          {% comment %} let text = "["
          let text2 = "]" {% endcomment %}

          var array_new=[]
          var array_new_total =[]
          var p=0
          for (k = 0; k <unique_lecturer.length; k++){
            for(i=0;i<Teaching.length;i++){

              for ( j = 0; j < array.Teaching.length; j++) { 
                if (((unique_lecturer[k] != array.Lecturer[j]) && (Teaching[i] != array.Teaching[j])) || ((unique_lecturer[k] == array.Lecturer[j]) && (Teaching[i] != array.Teaching[j])) || ((unique_lecturer[k] != array.Lecturer[j]) && (Teaching[i] == array.Teaching[j]))) {
                  p=0
                  } 
                if ((unique_lecturer[k] == array.Lecturer[j]) && (Teaching[i] == array.Teaching[j])){
                  p=array.Pourcent[j] 

                  j=array.length
                }
               }
               array_new.push(p)

              }

              array_new_total.push(text.concat([array_new]).concat(text2))
              array_new=[]
             //}
          }


 
    array_new_total.forEach(function (a, i) {
      if (JSON.parse(a).every(item => item === 0))
          {//console.log(a,i)
            console.log('console')
            //data.splice(i, 1);labels.splice(i, 1);i--;
          }
          else{
          lineChartData.datasets.push({
              label:  unique_lecturer[i],
              fillColor: 'rgba(220,220,220,0.2)',
              strokeColor: 'rgba(220,220,220,1)',
              pointColor: 'rgba(220,220,220,1)',
              pointStrokeColor: '#fff',
              pointHighlightFill: '#fff',
              pointHighlightStroke:
                  'rgba(220,220,220,1)',
              data: JSON.parse(a)
              
           })
          };
          //console.log(lineChartData.datasets[i].data,lineChartData.datasets[i].label)

      }
    
    
   );

      const ctx3 = document.getElementById('myChart3');

      teaching_load_thermo = new Chart(ctx3, {
          type: 'bar',
          data: {
              labels: lineChartData.labels ,
              datasets: lineChartData.datasets
          },
          
          options: {
            plugins: {
              title: {
                  display: true,
                  text: 'Thermo-Fluid',
                  padding: {
                      top: 10,
                      bottom: 30
                  }
              }
            },
            
              skipNull:true,
              indexAxis :'y',
              
              scales: {
                x:{
                  stacked: true,
                },
                  y: {
                    stacked: true,
                      
                  }
              }
          }
      }
      
      );
      function onlyUnique(value, index, array) {
        return array.indexOf(value) === index;
      }

      var personcourses = {{personcourses|safe}}
      {% comment %} console.log(personcourses) {% endcomment %}
      var lineChartData = {
        labels:personcourses.filter((personcourse) => (personcourse['course_group'] == 'p' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH' )).map((personcourse)=>personcourse['course']).filter(onlyUnique),

          datasets: []
      },
      
      array = [{Teaching: personcourses.filter((personcourse) => (personcourse['course_group'] == 'p' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['course']), Lecturer :  personcourses.filter((personcourse) => (personcourse['course_group'] == 'p' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['person']), Pourcent: personcourses.filter((personcourse) => (personcourse['course_group'] == 'p' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['amount']),}][0];

        Teaching  = personcourses.filter((personcourse) => (personcourse['course_group'] == 'p' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH')).map((personcourse)=>personcourse['course']).filter(onlyUnique)



          Lecturer =personcourses.map((personcourse)=>personcourse['person'])

          {% comment %} let unique_lecturer = Lecturer.filter(function(value, index, array) {
            return array.indexOf(value) === index;
          }); {% endcomment %}


          {% comment %} let text = "["
          let text2 = "]" {% endcomment %}

          var array_new=[]
          var array_new_total =[]
          var p=0
          for (k = 0; k <unique_lecturer.length; k++){
            for(i=0;i<Teaching.length;i++){

              for ( j = 0; j < array.Teaching.length; j++) { 
                if (((unique_lecturer[k] != array.Lecturer[j]) && (Teaching[i] != array.Teaching[j])) || ((unique_lecturer[k] == array.Lecturer[j]) && (Teaching[i] != array.Teaching[j])) || ((unique_lecturer[k] != array.Lecturer[j]) && (Teaching[i] == array.Teaching[j]))) {
                  p=0
                  } 
                if ((unique_lecturer[k] == array.Lecturer[j]) && (Teaching[i] == array.Teaching[j])){
                  p=array.Pourcent[j] 

                  j=array.length
                }
               }
               array_new.push(p)

              }

              array_new_total.push(text.concat([array_new]).concat(text2))
              array_new=[]
             //}
          }


 
    array_new_total.forEach(function (a, i) {
      if (JSON.parse(a).every(item => item === 0))
          {//console.log(a,i)
            console.log('console')
            //data.splice(i, 1);labels.splice(i, 1);i--;
          }
          else{
          lineChartData.datasets.push({
              label:  unique_lecturer[i],
              fillColor: 'rgba(220,220,220,0.2)',
              strokeColor: 'rgba(220,220,220,1)',
              pointColor: 'rgba(220,220,220,1)',
              pointStrokeColor: '#fff',
              pointHighlightFill: '#fff',
              pointHighlightStroke:
                  'rgba(220,220,220,1)',
              data: JSON.parse(a)
              
           })
          };
          //console.log(lineChartData.datasets[i].data,lineChartData.datasets[i].label)

      }
    
    
   );

      const ctx4 = document.getElementById('myChart4');

      teaching_load_process =  new Chart(ctx4, {
          type: 'bar',
          data: {
              labels: lineChartData.labels ,
              datasets: lineChartData.datasets
          },
          
          options: {
            plugins: {
              title: {
                  display: true,
                  text: 'Thermo-Fluid',
                  padding: {
                      top: 10,
                      bottom: 30
                  }
              }
            },
            
              indexAxis :'y',
              
              scales: {
                x:{
                  stacked: true,
                },
                  y: {
                    stacked: true,
                      
                  }
              }
          }
      }
      
      );
      
      const typeselect = document.getElementById('typeselect');
      typeselect.addEventListener('change',trackers);   
      
      function trackers(){
        var type = (typeselect.options[typeselect.selectedIndex].text)
        console.log('datasets',teaching_load_ses.data.datasets)

        if (type !== 'All' ){
          teaching_load_ses.data.labels =  personcourses.filter((personcourse) => (personcourse['course_group'] == 's' )).filter((personcourse) => (personcourse['course_type'] == type)).map((personcourse)=>personcourse['course']).filter(onlyUnique)
          teaching_load_indecol.data.labels =  personcourses.filter((personcourse) => (personcourse['course_group'] == 'i' )).filter((personcourse) => (personcourse['course_type'] == type)).map((personcourse)=>personcourse['course']).filter(onlyUnique)
          teaching_load_thermo.data.labels =  personcourses.filter((personcourse) => (personcourse['course_group'] == 't' )).filter((personcourse) => (personcourse['course_type'] == type)).map((personcourse)=>personcourse['course']).filter(onlyUnique)
          teaching_load_process.data.labels =  personcourses.filter((personcourse) => (personcourse['course_group'] == 'p' )).filter((personcourse) => (personcourse['course_type'] == type)).map((personcourse)=>personcourse['course']).filter(onlyUnique)
        }
        else if (type == 'All'){
          teaching_load_ses.data.labels =  personcourses.filter((personcourse) => (personcourse['course_group'] == 's' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH' )).map((personcourse)=>personcourse['course']).filter(onlyUnique)
          teaching_load_indecol.data.labels =  personcourses.filter((personcourse) => (personcourse['course_group'] == 'i' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH' )).map((personcourse)=>personcourse['course']).filter(onlyUnique)
          teaching_load_thermo.data.labels =  personcourses.filter((personcourse) => (personcourse['course_group'] == 't' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH' )).map((personcourse)=>personcourse['course']).filter(onlyUnique)
          teaching_load_process.data.labels =  personcourses.filter((personcourse) => (personcourse['course_group'] == 'p' )).filter((personcourse) => (personcourse['course_type'] == 'O1' || personcourse['course_type'] == 'O2' || personcourse['course_type'] == 'FE' || personcourse['course_type'] == 'PH' )).map((personcourse)=>personcourse['course']).filter(onlyUnique)

        }
        //console.table('datasets',teaching_load_ses.data.labels)
      //  console.log('type',type,teaching_load_ses.data.labels)

      //  console.log('labels',teaching_load_ses.data.labels)
      //  console.log('data',teaching_load_ses.data.datasets.data)

      //  console.log(typeselect)
        
      //  new_list = []

        
      //  teaching_load_ses.data.datasets.data = typeselect.value.split(',');
      //  for (x in teaching_load_ses.data.datasets.data){
      //    console.log
      //    if (teaching_load_ses.data.datasets.data[x] != ' '){
      //    new_list.push(teaching_load_ses.data.datasets.data[x])
      //  }
      //}
      //  console.log('new_list',new_list)
        //teaching_load_ses.data.datasets.data = new_list;

       // teaching_load_indecol.data.datasets.data = typeselect.value.split(',');
       // teaching_load_thermo.data.datasets.data = typeselect.value.split(',');
       // teaching_load_process.data.datasets.data = typeselect.value.split(','); 


       // console.log('data',teaching_load_ses.data.datasets[0].data)

        teaching_load_ses.update();
        teaching_load_indecol.update();
        teaching_load_thermo.update();
        teaching_load_process.update();

      }
 </script>

</div> {%endblock%}