.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.myBackground{
  width:100vw;
  height:100vh;
  display : flex;
  align-items:center;
  justify-content:center;
  background: rgb(0,15,255);
  background: linear-gradient(90deg, rgba(0,15,255,1) 43%, rgba(0,212,255,1) 100%);
}

.whiteBox{
  background-color: white;
  padding: 20px;
  min-width: 300px;
  height: 40%;
  width: 25%;
  border: 1px solid #333;
}

.itemBox{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;

}

.title{
  font-size: 30px;
  color: #333;

}

.myForm,
.myButton{
  width: 100%;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
